@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

:root {
  --dark-gray: #7f7f7f;
  --light-gray: #f9f9f9;
  --dark-red: #f72585;
  --white: #fff;
  --black: #000000;
  --light-pink: #f1e7e8;
  --top-footer: #161a1d;
  --middle-footer: #0b090a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  background: #fff;
  line-height: 26px;
  overflow-x: scroll;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  font-size: 18px;
}
.sub-header,
.sub-header2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.sub-header2 {
  padding-bottom: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar img {
  width: 15%;
  height: auto;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}
.nav-link.active {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
  border-bottom: 2px solid black;
}

.nav-link:hover {
  color: var(--black);
}

.nav-logo {
  height: 80px;
}

/* Lock Section */
#lock {
  background-color: var(--light-gray);
  margin-bottom: 50px;
}
.lock {
  display: block;
  max-width: 1100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  background-color: var(--light-gray);
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lock-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lock-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}
.lock-info {
  padding: 20px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  font-size: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-gray);
  color: #333;
}
.lock-info p {
  padding: 20px 0px;
  margin-bottom: 10px;
  line-height: 1.8;
  font-weight: 400;
}
.btn {
  margin: 0px auto;
}
.btn button {
  background-color: var(--dark-red);
  display: block;
  margin: 12px auto;
  width: 180px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  margin-top: 20px;

  transition: 0.3s ease background-color;
}
.btn button:hover {
  background-color: #333;
  color: var(--white);
  border: none;
}

.lock-img {
  flex-basis: 50%;
  overflow: hidden;
  position: relative;
}
.lock-img img {
  background-color: transparent;
  width: 420px;
  height: 400px;
  object-fit: cover;
  margin-left: 50px;
}
.lock-header {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 700;
}

.lock-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray);
  opacity: 0.1;
}
.lock-img {
  transition: 0.3s ease transform;
}
.lock-img {
  transform: scale(1.1);
}

/*End of Lock Section */

/*App Section*/

.app-header h2,
.vision-header h2,
.faq-header h2,
.contact-header h2,
.team-section h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.flexbox {
  width: 80%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
}
.leftside,
.rightside {
  -webkit-flex: 1;
  flex: 1;
  background: none;
}
.app-info {
  width: 400px;
}
.app-info h3 {
  font-size: 20px;
}
.app-info p {
  font-size: 17px;
}
.feature {
  display: flex;
  margin: 40px 0px;
}
.feature-img img {
  width: 100px;
  height: 100px;
}

.leftside,
.rightside {
  color: var(--black);
  padding: 2%;
  text-align: left;
}

/*End of App section*/

/*vision section*/
#vision {
  width: 100%;
  height: 1000px;
  background-color: var(--light-gray);
}
.vision {
  flex-direction: column;
  max-width: 1300px;
  height: auto;
  margin: 50px auto;
  background-color: var(--light-gray);
}
.vision-header h2 {
  display: block;

  width: 60vw;
  padding: 20px 0px;
  margin: auto;
}

.all-items,
.faq-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item,
.faq-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
.item-info {
  padding: 30px 50px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  font-size: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  color: #333;
  text-align: justify;
}
.item-info h2,
p {
  text-align: left;
}
.item-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.item-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  opacity: 0.1;
}
.item-img img {
  transition: 0.3s ease transform;
}

/* End of Vision section*/

/*Sustainability section*/
#sustainability {
  width: 100vw;
  height: 820px;
  margin-top: 50px;
}
.sustainability-header {
  color: var(--black);
  text-align: center;
}
.container-sustainability {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.row-sustainability {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
}
.section-sustainability,
.section2 {
  position: relative;
  padding-left: 10px;
}
.section-sustainability p {
  padding: 10px;
  font-size: 17px;
  text-align: center;
  color: black;
  align-items: center;
}
.section-sustainability h3 {
  text-align: center;
  padding-bottom: 10px;
}

.sustainability-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 35%;
}

/*Team section */
.team-section {
  height: 850px;
}

.team-row {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.team__column {
  flex: 25%;
  margin-right: 10px;
  padding: 0 8px;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}
.team-bottom {
  margin-top: 120px;
}
.team__card-infront {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__card-infront img {
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.team__container {
  padding: 10px;
}
.team__container h3 {
  color: var(--dark-red);
  font-size: 18px;
  margin: -5px 0px;
}
.team__container h4 {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-weight: 300px;
  margin: -5px 0px 5px 0px;
}
.team__container h5 {
  margin-bottom: 10px;
  text-align: center;
}

.teams-socialmedia__icons {
  display: flex;
  justify-content: center;
  align-items: start;
}

.teams-socialmedia__icons img:hover {
  border: 2px solid var(--dark-red);
}
.teams-socialmedia__icons img {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.team__card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team__column:hover .team__card {
  transform: rotateY(180deg);
}

.team__card-infront,
.team__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.team__card-back {
  color: var(--black);
  transform: rotateY(180deg);
  align-items: center;
  text-align: left;
  padding: 60px 15px;
}
.team__card-back p {
  font-size: 18px;
}
.person__info {
  text-align: center;
}
.team__container h2 {
  text-align: center;
}

/* Faq section */
.faq-container {
  background-color: var(--light-gray);
  height: 600px;
}
.faq-header h2 {
  padding-top: 30px;
}
.faq-header h3 {
  text-align: center;
  margin-bottom: 60px;
}
.accordion-info {
  margin-top: 60px;
  width: 60%;
  margin: 0px auto;
}

p.accordion.active,
p.accordion:hover {
  background-color: var(--dark-gray);
}

p.accordion {
  background-color: #ddd;
  padding: 10px;
  border-radius: 8px;
}
/* Unicode character for "plus" sign (+) */
p.accordion:after {
  content: "\2795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
  content: "\2796";
}

/* Style the element that is used for the panel class */

div.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/*Contact section*/
.contact {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
}

.container-contact {
  width: 90%;
  max-height: 700px;
  max-width: 840px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group label {
  color: var(--black);
  font-weight: 500;
  text-transform: uppercase;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 2px solid var(--dark-red);
  margin-top: 5px;
  border-radius: 4px;
}
.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.form-group textarea[type="text"]:hover,
.form-group label:hover ~ input[type="text"] {
  background: var(--light-gray);
  border: 2px solid var(--black);
}

.btn2 {
  background-color: var(--black);
  display: block;
  margin: 0 auto;
  width: 150px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease background-color;
}
.btn2:hover {
  background-color: var(--dark-red);
  border: none;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: var(--light-green);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: var(--orange);
  color: var(--white);
  animation: status 4s ease forwards;
}

/* End of Contact section*/

/*Footer section*/

#footer {
  background-color: var(--top-footer);
  height: 400px;
}
.footer-color {
  background-color: var(--top-footer);
}

/*footer new*/
.search-text {
  margin-top: 50px;
  background-color: var(--top-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.search-text .input-search {
  height: 45px;
  width: 500px;
  padding-left: 20px;
  color: var(--top-footer);
  border-radius: 8px;
}

.search-text .btn-search {
  background: var(--dark-red);
  border: none;
  border-radius: 8px;
  color: var(--white);
  height: 45px;
  width: 120px;
  margin-top: 15px;
}

.search-text h4 {
  color: var(--white);
  font-weight: 700;
}

/*new*/

.footer-distributed {
  background: var(--middle-footer);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-left img {
  width: 20%;
}

/* Footer links */

.footer-distributed .footer-links,
.footer-distributed .footer-left p {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-left p .footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: var(--light-gray);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distibuted .footer-links a:hover {
  color: var(--dark-red);
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: var(--dark-red);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-icons a:hover {
  background-color: var(--dark-red);
}
.footer-bottom {
  background-color: var(--middle-footer);
  color: var(--white);
  letter-spacing: 1.5px;
}
.footer.info2 {
  text-align: center;
}

/*End*/

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (max-width: 480px) {
  .navbar img {
    width: 40%;
  }
  .lock-header {
    font-size: 1em !important;
    padding-top: 10px !important;
  }
  .lock-info {
    margin-top: 0px;
  }

  .btn {
    margin-top: 0px;
  }
  .app-info {
    width: 300px;
  }
  .feature-img img {
    width: 80px;
    height: 80px;
  }
  /*vision section*/
  .vision-header h2 {
    width: 80%;
  }

  /* sustainability section*/
  #sustainability {
    margin-top: 150px;
  }
  .sustainability-header {
    margin-top: 350px;
  }

  /*Faq*/
  .border-line {
    border-right: none;
    border-bottom: 1px solid var(--dark-gray);
    width: 90%;
  }

  /* Team section */
  .team-section {
    min-height: 2200px;
  }
  .team-section h2 {
    font-size: 25px;
    font-weight: 700;
    padding: 50px 20px 10px;
    text-align: center;
  }
  .team-row {
    flex: 100%;
    flex-direction: column;
  }
  .team__column {
    margin-bottom: 20px;
  }

  .team__card {
    height: 300px;
  }
  .picture-profile {
    width: 150px;
    height: 150px;
  }
  .team__card-back p {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
  }
  .team__container {
    padding: 5px;
  }
  .team__container h3,
  .team__container h4 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0px;
  }

  .team-bottom {
    margin-top: 5px;
  }
  .team__column:hover .team__card {
    transform: rotateY(180deg);
  }

  .team-column:hover,
  .team__card-back {
    transform: rotateY(180deg);
  }

  .team__card-back {
    transform: rotateY(-180deg);
  }
  .tablet__margin-top {
    margin-top: 5px !important;
  }
  .more-info {
    text-align: center;
    font-size: 10px;
  }

  /*faq*/

  .faq-container {
    min-height: 700px;
  }
  .faq-header h3 {
    font-size: 16px;
  }
  .accordion-info {
    width: 75%;
  }

  /*footer section*/
  #footer {
    height: 800px;
  }
  .footer h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .footer-item2 {
    height: 250px;
  }
  .search-text .input-search {
    width: 350px;
  }

  .footer-bottom {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
  }

  .section p {
    font-size: 17px;
  }
}

/*End of lock section*/
@media only screen and (max-width: 799px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu.active {
    z-index: 2;
  }

  .nav-menu.active {
    z-index: 2;
  }

  .nav-menu {
    position: fixed;

    left: -100%;
    top: 3.7rem;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    background-color: #333;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);*/
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
    border-bottom: 2px solid var(--dark-red);
    width: 50%;
  }

  .nav-item a {
    color: white;
  }

  .app-header h2,
  .vision-header h2,
  .faq-header h2,
  .contact-header h2 {
    font-size: 1.8em;
    text-align: center;
  }

  /*app*/
  #app {
    height: 900px;
  }
  .flexbox {
    flex-direction: column;
  }

  /*lock*/
  .lock-header {
    font-size: 1.5em;
    text-align: center;
  }

  .lock {
    margin-top: 10px;
    height: 950px;
  }
  .lock-column {
    margin-top: 90px;
    flex-direction: column-reverse;
  }
  .lock-info {
    padding: 10px;
    margin-bottom: 15px;
  }
  .lock-info p {
    text-align: center;
  }
  .lock-img img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  /*app*/

  .heading {
    font-size: 22px;
  }
  .app-header h2 {
    font-size: 2em;
  }

  /*vision*/
  #vision {
    height: 1600px;
  }
  /*faq*/

  .faq-container {
    height: 650px;
  }

  /* Teams section*/
  .team-section {
    max-height: 1300px;
    margin-bottom: 30px;
  }
  .team-section h2 {
    font-size: 30px;
  }
  .team__container h3,
  .team__container h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .team__card-back p {
    font-size: 16px;
    margin-top: -45px;
  }
  .tablet__margin-top {
    margin-top: 40px;
  }
  .card-body {
    font-size: 15px;
  }
  .team__column {
    flex: 35%;
  }
  .more-info {
    text-align: center;
    font-size: 10px;
  }
  /*liveability*/
  #sustainability {
    width: 100%;
    height: 800px;
    margin-top: 50px;
  }
  /*faq*/
  .border-line {
    border-right: none;
    border-bottom: 1px solid var(--dark-gray);
    width: 90%;
  }

  /* Footer */

  #footer {
    min-height: 500px;
  }
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-left img {
    width: 40%;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-links,
  .footer-distributed .footer-company-name,
  .footer-distributed .footer-company-about,
  .footer-distributed .footer-left p {
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .footer-distributed .footer-icons {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 900px) {
  .lock-column {
    flex-direction: row;
  }
  .lock-column:nth-child(even) {
    flex-direction: row-reverse;
  }
  .lock-column {
    height: 500px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .lock-row .lock-info {
    height: 80%;
  }
  .lock-row .lock-img {
    height: 80%;
  }

  /*Vision*/
  .item,
  .faq-item {
    flex-direction: row;
  }
  .item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  /*faq*/
  .faq-item {
    height: 200px;
  }

  .all-items .item-info .faq-items .faq-info {
    height: 80%;
  }
  .all-items .item-img .faq-items {
    height: 80%;
  }
  /* header */
  .hamburger {
    display: none;
  }

  .team__card-back {
    padding: 20px 10px;
  }
  .team__card-back p {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .team__container h3 {
    font-size: 24px;
    text-align: center;
  }
  .team__container h4 {
    font-size: 18px;
  }
}
