@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

:root {
  --dark-gray: #7f7f7f;
  --light-gray: #f9f9f9;
  --dark-red: #b7094c;
  --white: #fff;
  --black: #000000;
  --light-pink: #f1e7e8;
  --top-footer: #343434;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  background: #fff;
  line-height: 26px;
  overflow-x: scroll;
}
html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  font-size: 18px;
}
.sub-header,
.sub-header2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.sub-header2 {
  padding-bottom: 50px;
}

.header {
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar img {
  width: 15%;
  height: auto;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
}
.nav-link:active {
  color: var(--dark-red);
}

.nav-link:hover {
  color: var(--dark-red);
}

.nav-logo {
  height: 80px;
}

/* Lock Section */
#lock {
  background-color: var(--light-gray);
  margin-bottom: 50px;
}
.lock {
  display: block;
  max-width: 1100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  background-color: var(--light-gray);
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lock-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lock-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}
.lock-info {
  padding: 20px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  font-size: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-gray);
  color: #333;
}
.lock-info p {
  padding: 20px 0px;
  margin-bottom: 10px;
  line-height: 1.8;
  font-weight: 400;
}
.btn {
  margin: 0px auto;
}
.btn button {
  background-color: var(--dark-red);
  display: block;
  margin: 12px auto;
  width: 180px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  margin-top: 20px;

  transition: 0.3s ease background-color;
}
.btn button:hover {
  background-color: #333;
  color: var(--white);
  border: none;
}

.lock-img {
  flex-basis: 50%;
  overflow: hidden;
  position: relative;
}
.lock-img img {
  background-color: transparent;
  width: 420px;
  height: 400px;
  object-fit: cover;
  margin-left: 50px;
}
.lock-header {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 700;
}

.lock-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray);
  opacity: 0.1;
}
.lock-img {
  transition: 0.3s ease transform;
}
.lock-img {
  transform: scale(1.1);
}

/*End of Lock Section */

/*App section*/
#app {
  background-color: var(--white);
  /*height: 1000px;*/
  margin-top: 50px;
}
.app-header h2,
.vision-header h2,
.faq-header h2,
.liveability-header h2,
.contact-header h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 2.8em;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.container-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}
.row-app {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
}
.section-app,
.section2 {
  position: relative;
  padding-left: 10px;
}
.section-app p {
  font-size: 17px;
  text-align: center;
}
.section-app h3 {
  text-align: center;
  padding-bottom: 10px;
}

.section-app img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

/*End of App section*/

/*vision section*/
#vision {
  flex-direction: column;
  max-width: 1300px;
  height: auto;
  margin: 50px auto;
  background-color: var(--white);
}
.vision-header h2 {
  display: block;
  width: 60vw;
  padding: 20px 0px;
  margin: auto;
}

.all-items,
.faq-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item,
.faq-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
.item-info,
.faq-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  font-size: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  color: #333;
}
.item-info h2,
p {
  text-align: left;
  padding: 0px 20px;
}
.item-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.item-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  opacity: 0.1;
}
.item-img img {
  transition: 0.3s ease transform;
}
.item:hover .item-img img {
  transform: scale(1.1);
}

/* End of Vision section*/

/*Liveability section*/
#liveability {
  background-color: var(--light-gray);
  height: 600px;
}
/*livability section*/

.livability-section {
  background-color: #333333;
  height: 700px;
  color: var(--white);
}
.liveability-img img {
  padding-top: 30px;
  height: 120px;
}

.liveability-header h2 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 80px;
}

.container-liveability {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-liveability {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}
.section,
.section2 {
  position: relative;
  padding-left: 10px;
}
.section p,
.section2 p {
  font-size: 18px;
}
.liveability-img img,
.section img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.object2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
/*Team section */
.team-section {
  height: 1150px;
}
.team-section h2 {
  margin-bottom: 10px;
  font-size: 2.8em;
  line-height: 1.2;
  font-weight: 600;
  padding: 50px 20px;
  text-align: center;
}
.team-row {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.team__column {
  flex: 25%;
  margin-right: 10px;
  padding: 0 8px;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}
.team-bottom {
  margin-top: 120px;
}
.team__card-infront {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__card-infront img {
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.team__container {
  padding: 10px;
}
.team__container h3 {
  color:var(--dark-red);
  font-size: 18px;
  margin: -5px 0px;
}
.team__container h4 {
  text-align: center;
  font-style:italic;
  font-size: 16px;
  margin: -5px 0px 5px 0px;
}
.team__container h5 {
  margin-bottom: 10px;
  text-align: center;
}

.teams-socialmedia__icons {
  display: flex;
  justify-content: center;
  align-items: start;
}

.teams-socialmedia__icons img:hover {
  border: 2px solid var(--dark-red);
}
.teams-socialmedia__icons img {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.team__card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team__column:hover .team__card {
  transform: rotateY(180deg);
}

.team__card-infront,
.team__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.team__card-back {
  color: var(--black);
  transform: rotateY(180deg);
  align-items: center;
  text-align: left;
  padding: 60px 15px;
}
.team__card-back p {
  font-size: 18px;
}
.person__info {
  text-align: center;
}
.team__container h2 {
  text-align: center;
}

/*FAQ */
#faq {
  width: 100%;
}
.faq-header p {
  max-width: 60%;
  margin-bottom: 10px;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;
  font-weight: 300;
}
.faq-item {
  background-color: var(--white);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.border-line {
  border-right: 2px solid var(--dark-gray);
  height: 50px;
}

/*End of Faq section */

/*Contact section*/
.contact {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
}
.peace-logo1 img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: -50px;
  color: var(--dark-red);
}

.container-contact {
  width: 90%;
  max-height: 700px;
  max-width: 840px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group label {
  color: var(--black);
  font-weight: 500;
  text-transform: uppercase;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 2px solid var(--dark-red);
  margin-top: 5px;
  border-radius: 4px;
}
.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.form-group textarea[type="text"]:hover,
.form-group label:hover ~ input[type="text"] {
  background: var(--light-gray);
  border: 2px solid var(--black);
}

.btn2 {
  background-color: var(--black);
  display: block;
  margin: 0 auto;
  width: 150px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease background-color;
}
.btn2:hover {
  background-color: var(--dark-red);
  border: none;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: var(--light-green);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: var(--orange);
  color: var(--white);
  animation: status 4s ease forwards;
}

/* End of Contact section*/

/*Footer section*/

#footer {
  background-color: var(--top-footer);
  height: 400px;
}
.footer-color {
  background-color: var(--top-footer);
}
.top-footer {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 300px;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.footer-item {
  border-radius: 10px;
  padding: 20px;
  color: var(--white);
  height: auto;
}
.list-group-item {
  font-size: 18px;
}
.footer {
  background-color: #333;
  color: var(--white);
}
.footer-item h5 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.fab {
  padding: 10px;
  border: 1px solid #f8f5f1;
  border-radius: 20px;
  margin-right: 10px;
  color: var(--white);
  width: 80%;
}
.fab:hover {
  border: none;
  background: var(--dark-red);
}

.footer-bottom {
  background-color: var(--black);
  color: var(--white);
}
#subscribe input {
  width: 150px;
  background-color: var(--dark-red);
  font-weight: 700;
  padding: 8px 16px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--white);
  border-radius: 8px;
  transition: 0.3s ease background-color;
}
#subscribe input:hover {
  background-color: var(--light-gray);
  color: var(--black);
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (max-width: 480px) {
  .navbar img {
    width: 40%;
  }
  .lock-header {
    font-size: 1em !important;
    padding-top: 10px !important;
  }
  .lock-info {
    margin-top: 0px;
  }

  .btn {
    margin-top: 0px;
  }
  .app-column {
    height: 350px;
  }
  /*vision section*/
  .vision-header h2 {
    width: 80%;
  }

  /* Liveability section*/
  #liveability {
    height: 1000px;
  }

  /*Faq*/
  .border-line {
    border-right: none;
    border-bottom: 1px solid var(--dark-gray);
    width: 90%;
  }

  /* Team section */
  .team-section {
    min-height: 2200px;
  }
  .team-section h2 {
    font-size: 25px;
    font-weight: 700;
    padding: 50px 20px 10px;
    text-align: center;
  }
  .team-row {
    flex: 100%;
    flex-direction: column;
  }
  .team__column {
    margin-bottom: 20px;
  }

  .team__card {
    height: 300px;
  }
  .picture-profile {
    width: 150px;
    height: 150px;
  }
  .team__card-back p {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
  }
  .team__container {
    padding: 5px;
  }
  .team__container h3,
  .team__container h4 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0px;
  }

  .team-bottom {
    margin-top: 5px;
  }
  .team__column:hover .team__card {
    transform: rotateY(180deg);
  }

  .team-column:hover,
  .team__card-back {
    transform: rotateY(180deg);
  }

  .team__card-back {
    transform: rotateY(-180deg);
  }
  .tablet__margin-top {
    margin-top: 5px !important;
  }
  .more-info {
    text-align: center;
    font-size: 10px;
  }
  /*footer section*/
  #footer {
    height: 800px;
  }
  .footer h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .footer-item2 {
    height: 250px;
  }

  .footer-bottom {
    background-color: var(--black);
    color: var(--white);
  }

  .section p {
    font-size: 17px;
  }
}

/*End of lock section*/
@media only screen and (max-width: 799px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu.active {
    z-index: 2;
  }

  .nav-menu.active {
    z-index: 2;
  }
  .nav-menu {
    position: fixed;
    left: -50%;
    top: 4rem;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    background-color: #eeede7;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--dark-red);
    width: 50%;
  }

  .app-header h2,
  .vision-header h2,
  .faq-header h2,
  .contact-header h2 {
    font-size: 1.8em;
    text-align: center;
  }

  /*lock*/
  .lock-header {
    font-size: 1.5em;
    text-align: center;
  }

  .lock {
    margin-top: 10px;
    height: 950px;
  }
  .lock-column {
    margin-top: 90px;
    flex-direction: column-reverse;
  }
  .lock-info {
    padding: 10px;
    margin-bottom: 15px;
  }
  .lock-info p {
    text-align: center;
  }
  .lock-img img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  /*app*/

  .heading {
    font-size: 22px;
  }
  .app-header h2 {
    font-size: 2em;
  }
  /*faq*/

  .faq-header p {
    max-width: 80%;
    margin-bottom: 20px;
  }

  /* Teams section*/
  .team-section {
    max-height: 1300px;
    margin-bottom: 30px;
  }
  .team-section h2 {
    font-size: 30px;
  }
  .team__container h3,
  .team__container h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .team__card-back p {
    font-size: 16px;
    margin-top: -45px;
  }
  .tablet__margin-top {
    margin-top: 40px;
  }
  .card-body {
    font-size: 15px;
  }
  .team__column {
    flex: 35%;
  }
  .more-info {
    text-align: center;
    font-size: 10px;
  }
  /*liveability*/
  #liveability {
    min-height: 800px;
  }
  /*faq*/
  .border-line {
    border-right: none;
    border-bottom: 1px solid var(--dark-gray);
    width: 90%;
  }

  /* Footer */

  #footer {
    min-height: 500px;
  }
}

@media only screen and (min-width: 900px) {
  .lock-column {
    flex-direction: row;
  }
  .lock-column:nth-child(even) {
    flex-direction: row-reverse;
  }
  .lock-column {
    height: 500px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .lock-row .lock-info {
    height: 80%;
  }
  .lock-row .lock-img {
    height: 80%;
  }

  /*Vision*/
  .item,
  .faq-item {
    flex-direction: row;
  }
  .item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  /*faq*/
  .faq-item {
    height: 200px;
  }

  .all-items .item-info .faq-items .faq-info {
    height: 80%;
  }
  .all-items .item-img .faq-items {
    height: 80%;
  }
  /* header */
  .hamburger {
    display: none;
  }

  .team__card-back {
    padding: 20px 10px;
  }
  .team__card-back p {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .team__container h3 {
    font-size: 24px;
    text-align: center;
  }
  .team__container h4 {
    font-size: 20px;
  }
}
